<h3>Restaurants</h3>

<%= link_to "Add New", new_restaurant_path %>

<div class="container">
  <table id="restaurant_table">
  <% if @restaurants %>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Average</th>
      <th>Your Rating</th>
      <th>Last Visited</th>
      <% if logged_in? %>
      <th>Edit Visited</th>
      <% end %>
    </tr>
    <% @restaurants.each do |restaurant|%>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.category %></td>
        <td><%= restaurant.average %></td>
        <% if logged_in? %>
          <% if my_rating = current_user.rating(restaurant.id) %>
            <td><%= link_to my_rating.score, edit_rating_path(id: my_rating.id), class: "edit_rating" %></td>
          <% else %>
            <td><%= link_to 'Rate it!', new_rating_path, class: "add_rating" %></td>
          <% end %>
        <% else %>
          <td><%= link_to 'Login', login_path %></td>
        <% end %>
        <td><%= restaurant.last_visited ? restaurant.last_visited.strftime("%b %-d, %Y") : nil  %></td>
        <td>
          <%= form_for restaurant do |f| %>
            <%= f.date_field :last_visited %>
            <%= f.submit "edit" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </table>
</div>